/** Custom styles */
div {
}

.panel {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

.panel-notice {
  color: #fff;
  background: DeepSkyBlue;
}

.panel-caution {
  color: #fff;
  background: #b3b300;
}

.panel-warning {
  color: #fff;
  background: DarkOrange;
}
